#menu {
    width: 550px;
    height: 35px;
    font-size: 16px;
    font-family: Garamond;
    font-weight: bold;
    text-align: center;
    background-color: #90C3D4;
}
#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li {
   display: inline;
   padding: 20px; 
}
#menu a {
    text-decoration: none;
    color: white;
}
#menu a:hover {
    color: black;   
    background-color: orange;
}
#header1 {
    font-family: Garamond;
    text-align: center;
    line-height: 50%;
}
#abouttype {
    font-family: Garamond;
    text-align: center;
    line-height: 1%;
}
#about {
    float: left;
    width: 600px;
    height: 400px;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 100px;
    padding: 50px;
}
#skills {
    font-family: Garamond;
    text-align: center;
    line-height: 1%;
}
#skillsbody {
    float: left;
    width: 600px;
    height: 100px;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 100px;
    padding: 50px;
}
#projects {
    font-family: Garamond;
    text-align: center;
    line-height: 1%;
}
#projectsbody {
    padding: 70px;
}
#experiencehead {
    font-family: Garamond;
    text-align: center;
    line-height: 1%;
}
#experience1 {
    font-family: Garamond;
    padding: 0px;
    line-height: 5%;
}
#experience1 h6 {
    font-size: 14px;
    font-style: italic;
    color: #90C3D4;
    font-family: Garamond;
    text-indent: 10px;
    line-height: 5%;
}
#experience1 p {
    text-indent: 10px;
}
#experience2 {
    font-family: Garamond;
    padding: 0px;
    line-height: 5%;
}
#experience2 h6 {
    font-size: 14px;
    font-style: italic;
    color: #90C3D4;
    font-family: Garamond;
    text-indent: 10px;
    line-height: 5%;
}
#experience2 p {
    text-indent: 10px;
}
#experience3 {
    font-family: Garamond;
    padding: 0px;
    line-height: 5%;
}
#experience3 h6 {
    font-size: 14px;
    font-style: italic;
    color: #90C3D4;
    font-family: Garamond;
    text-indent: 10px;
    line-height: 5%;
}
#experience3 p {
    text-indent: 10px;
}
#experience4 {
    font-family: Garamond;
    padding: 0px;
    line-height: 5%;
}
#experience4 h6 {
    font-size: 14px;
    font-style: italic;
    color: #90C3D4;
    font-family: Garamond;
    text-indent: 10px;
    line-height: 5%;
}
#experience4 p {
    text-indent: 10px;
}
#educationhead {
    font-family: Garamond;
    text-align: center;
    line-height: 1%;
}

