#menu {
    width: 550px;
    height: 35px;
    font-size: 16px;
    font-family: Garamond;
    font-weight: bold;
    text-align: center;
    background-color: #90C3D4;
}
#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li {
   display: inline;
   padding: 20px; 
}
#menu a {
    text-decoration: none;
    color: white;
}
#menu a:hover {
    color: black;   
    background-color: orange;
}
#header1 {
    font-family: Garamond;
    text-align: center;
    line-height: 50%;
}
#abouttype {
    text-align: center;
    line-height: 1%;
}